@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  //background: var(--background);
  background: url('../src/images/css-images03.jpg') no-repeat;
  background-color: #000;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  main {
    max-width: 1200px;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background-color: rgba(10, 10, 10, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  .logo {
    img {
      max-width: 175px;
    }
  }

  .navbar {
    a {
      font-size: 1.15rem;
      text-decoration: none;
      font-weight: 500;
      margin-left: 1.5rem;
      color: #ffffff;
      &:hover {
        color: #55adff;
      }
    }
  }
  
  @media (max-width: 768px) {
    #menu-toggle:checked ~ .navbar {
      height: 17.7rem;
    }
    .menu-icon {
      position: relative;

      .bx-menu {
        display: block;
      }

      .bx-x {
        display: none;
      }
    }
    #menu-toggle:checked + .menu-icon {
      .bx-menu {
        display: none;
      }

      .bx-x {
        display: block;
      }
    }
    .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0;
      background-color: rgba(10, 10, 10, 0.9);
      backdrop-filter: blur(10px);
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
      overflow: hidden;
      transition: .3s ease;
      
      a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 1;
        transition: .2s ease;
      }
    }
    #menu-toggle:checked ~ .navbar a {
      transform: translateY(0);
      opacity: 1;
      transition-delay: calc(.15s * var(--i));
    }
  }
  #menu-toggle {
    display: none;
  }
  .menu-icon {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
    @media (max-width: 768px) {
      display: inline-flex;
      #close-icon {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    #menu-toggle:checked ~ .menu-icon #menu-icon {
      display: none;
    }
    #menu-toggle:checked ~ .menu-icon #close-icon {
      display: block;
    }
  }
}
.header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}
.header:hover::after {
    left: 100%;
}

main {
  background-color: rgb(0, 0, 0, .8);
}

.cursor-circle {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid #55adff;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease;
  z-index: 9999;
  &:hover {
    opacity: 1;
  }

}
.cursor-hover {
  cursor: pointer;
}

.hover-link {
  cursor: pointer;
}

.contactImput {
  border: 1px solid rgb(100, 100, 60, 3);
  max-width: 647px;
}

label {
  max-width: 647px;
}
input, textarea {
  border: 1px solid rgb(100, 100, 60, 3);
  background-color: hsla(209, 100%, 67%, 0.49);
  max-width: 647px;
  padding: 5px;
}

.pulse {
  position: absolute;
  transform: translate(-50%, -50%);
  border: 2px solid #03a9f4;
  border-radius: 50%;
  z-index: 10000;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.link-active {
  color: #55adff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}